<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item fill="solid">
    <ion-label position="floating">Correo</ion-label>
    <ion-input type="email" ngModel email></ion-input>
    <ion-note slot="helper">Ingrese su correo</ion-note>
    <ion-note slot="error">Invalid email</ion-note>
  </ion-item>

  <ion-item fill="solid">
    <ion-label position="floating">Mensaje</ion-label>
    <ion-input type="email" ngModel email></ion-input>
    <ion-note slot="helper">Ingrese su mensaje</ion-note>
  </ion-item>
  
  <ion-button>Eviar</ion-button>

</ion-content>
